# Pandas Cheat Sheet â€¢ Runnable Examples
Use this notebook as a quick reference and playground while studying Pandas.
Each section includes short examples you can tweak.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 10)
np.random.seed(42)

## 1. Series

In [2]:
# Create Series
s = pd.Series([10, 20, 30], index=['a','b','c'])
s, s['a'], s.iloc[0]

(a    10
 b    20
 c    30
 dtype: int64,
 np.int64(10),
 np.int64(10))

In [3]:
# Stats
s.mean(), s.std()

(np.float64(20.0), np.float64(10.0))

## 2. DataFrame

In [ ]:
# Create DataFrame
df = pd.DataFrame({
    'name': ['Alice','Bob','Charlie','Dana','Eli'],
    'age': [25, 30, 35, 28, 41],
    'city': ['TLV','HAI','JLM','TLV','HAI']
})
df.head()

In [ ]:
# Quick info
df.info()

In [ ]:
# Stats (numeric columns)
df.describe()

## 3. Selection

In [ ]:
# One / multiple columns
df['age'], df[['name','age']].head()

In [ ]:
# Label-based selection with .loc
df.loc[0:2, ['name','city']]

In [ ]:
# Position-based selection with .iloc
df.iloc[1:4, 0:2]

In [ ]:
# Boolean filtering: age > 28
df[df['age'] > 28]

## 4. Modifying

In [ ]:
# Add / update / drop columns and rows
df2 = df.copy()
df2['salary'] = [100, 200, 300, 250, 400]
df2['age'] = df2['age'] + 1
without_city = df2.drop('city', axis=1)
without_first_row = df2.drop(0, axis=0)
without_city.head(), without_first_row.head()

## 5. Grouping & Aggregation

In [ ]:
# Groupby examples
df2 = df.copy()
df2['salary'] = [100, 200, 300, 250, 400]
mean_age_by_city = df2.groupby('city')['age'].mean()
agg_stats = df2.groupby('city').agg({'age':['mean','max'], 'salary':'sum'})
mean_age_by_city, agg_stats

## 6. Missing Values

In [ ]:
# Introduce some NaNs
na_df = df.copy()
na_df.loc[1, 'age'] = np.nan
na_df.loc[4, 'city'] = np.nan
na_df

In [ ]:
# Count missing values
na_df.isna().sum()

In [ ]:
# Fill and drop
filled = na_df.copy()
filled['age'] = filled['age'].fillna(filled['age'].mean())
dropped = na_df.dropna()
filled.head(), dropped.head()

## 7. Sorting

In [ ]:
# Sort by age descending and by index
sorted_age = df.sort_values('age', ascending=False)
sorted_index = df.sort_index()
sorted_age.head(), sorted_index.head()

## 8. Merge / Join

In [ ]:
# Merge two DataFrames on 'id'
left  = pd.DataFrame({'id':[1,2,3], 'group':['A','B','A']})
right = pd.DataFrame({'id':[2,3,4], 'score':[90,75,60]})
inner = pd.merge(left, right, on='id', how='inner')
left_join = pd.merge(left, right, on='id', how='left')
inner, left_join

## 9. I/O (CSV)

In [ ]:
# Write to CSV and read back (in-memory path)
path = 'sample_output.csv'
df.to_csv(path, index=False)
read_back = pd.read_csv(path)
read_back.head()

## 10. Visualization (quick)

In [ ]:
# Simple histogram and line plot
values = np.random.normal(50, 10, 1000)
plt.figure()
plt.hist(values, bins=30)
plt.title('Histogram of values')
plt.xlabel('value')
plt.ylabel('count')
plt.show()

x = np.linspace(0, 10, 100)
y = 2*x + 1
plt.figure()
plt.plot(x, y)
plt.title('y = 2x + 1')
plt.xlabel('x')
plt.ylabel('y')
plt.show()

> Tip: Duplicate any cell and tweak it as practice. Try adding new columns, different filters, or other aggregations.